@using OnlineShopWebApp.Models.Products
@model Product
@if(Model != null)
{
    <div class="row">
        <div class="col-5">
            <img class="img-fluid img-thumbnail" src="@Model.ImagePath" alt="Изображение товара" />
        </div>
        <div class="col-3">
            <h2>@Model.Name</h2>
            <h5>@Model.Description</h5>
        </div>
        <div class="col-3">
            <p></p>
            <a asp-controller="carts" asp-action="addProduct" asp-route-userId="1" asp-route-productId="@Model.Id" class="btn btn btn-outline-dark" role="button">
                <img src="/images/ui/cart_add_icon.png" width="30"> @Model.Cost руб. 
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            
        </div>
        <div class="col-2">
            <a asp-controller="home" asp-action="index" class="btn btn-outline-dark" role="button">Вернуться на главную</a>
        </div>
    </div>
}
else
{
    <h2>Упс..., что-то пошло не так</h2>
}
