@using OnlineShopWebApp.Models.Products
@model ProductsPage

@if (Model != null)
{
    <div class="row">
        <div class="col-9 align-content-lg-start">

        </div>
        <div class="col-3 percount">
            <span class="gray">Показать:</span>
            @if(Model.NumOfProdPerPage == 3)
            {
                <b class="p-1">3</b>
                <a title="5" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="5" asp-route-pageNumber="1" class="gray link p-1">5</a>
                <a title="10" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="10" asp-route-pageNumber="1" class="gray link p-1">10</a>
            }
            @if (Model.NumOfProdPerPage == 5)
            {
                <a title="3" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="3" asp-route-pageNumber="1" class="gray link p-1">3</a>
                <b class="p-1">5</b>
                <a title="10" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="10" asp-route-pageNumber="1" class="gray link p-1">10</a>
            }
            @if (Model.NumOfProdPerPage == 10)
            {
                <a title="3" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="3" asp-route-pageNumber="1" class="gray link p-1">3</a>
                <a title="5" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="5" asp-route-pageNumber="1" class="gray link p-1">5</a>
                <b class="p-1">10</b>
            }
            
        </div>
    </div>
    <div class="row justify-content-start">
        @foreach (var product in Model.Products)
        {
            <div class="col-@Model.CardSize card shadow m-3">
                <a asp-controller="product" asp-action="index" asp-route-productId="@product.Id">
                    <img class="card-img-top" height="@Model.ImageHeight" src="@product.ImagePath">
                </a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 align-content-lg-start pt-2">
                            <p><b>@product.Name</b><br>@product.Cost руб.</p>
                        </div>
                        <div class="col-1 justify-content-lg-end">
                            <a asp-controller="carts" asp-action="addProduct" asp-route-userId="1" asp-route-productId="@product.Id" class="btn btn-outline-cartChangeAmount" role="button">
                                <svg fill="currentColor" width="25" height="25" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.88 119.88">
                                    <path fill="currentColor" d="M92.652,119.88H28.47c-6.042,0-10.956-4.914-10.956-10.952L8.423,66.246c-3.435-1.703-5.691-5.177-5.691-9.056
						            c0-5.669,4.611-10.276,10.276-10.276h93.864c5.665,0,10.276,4.607,10.276,10.276c0,3.317-1.601,6.354-4.278,8.266l-9.337,44.166
						            C103.608,114.966,98.694,119.88,92.652,119.88z M13.008,53.653c-1.948,0-3.536,1.588-3.536,3.536c0,1.536,1.11,2.896,2.703,3.3
						            c1.242,0.316,2.194,1.316,2.457,2.571l9.547,45.175c0.075,3.018,1.966,4.905,4.291,4.905h64.182c2.325,0,4.217-1.887,4.217-4.212
						            l9.71-46.289c0.211-1.018,0.882-1.878,1.808-2.334c1.246-0.605,2.023-1.808,2.023-3.115c0-1.948-1.588-3.536-3.537-3.536H13.008z"></path>
                                                <path fill="currentColor" d="M37.123,100.121c0,1.304-1.067,2.371-2.371,2.371h-0.653c-1.304,0-2.371-1.067-2.371-2.371V72.368
						            c0-1.304,1.067-2.371,2.371-2.371h0.653c1.304,0,2.371,1.067,2.371,2.371V100.121z"></path>
                                                <path fill="currentColor" d="M54.483,100.121c0,1.304-1.067,2.371-2.371,2.371h-0.653c-1.304,0-2.372-1.067-2.372-2.371V72.368
						            c0-1.304,1.067-2.371,2.372-2.371h0.653c1.304,0,2.371,1.067,2.371,2.371V100.121z"></path>
                                                <path fill="currentColor" d="M71.844,100.121c0,1.304-1.067,2.371-2.371,2.371h-0.654c-1.304,0-2.371-1.067-2.371-2.371V72.368
						            c0-1.304,1.067-2.371,2.371-2.371h0.654c1.304,0,2.371,1.067,2.371,2.371V100.121z"></path>
                                                <path fill="currentColor" d="M89.205,100.121c0,1.304-1.067,2.371-2.371,2.371H86.18c-1.304,0-2.372-1.067-2.372-2.371V72.368
						            c0-1.304,1.068-2.371,2.372-2.371h0.653c1.304,0,2.371,1.067,2.371,2.371V100.121z"></path>
                                                <path fill="currentColor" d="M28.027,34.868c2.25-15.669,15.69-27.723,31.98-27.723c16.291,0,29.732,12.055,31.982,27.723c0.328,5.35,7.22,4.494,7.22,0
						            C96.915,15.24,80.253,0,60.008,0c-20.244,0-36.907,15.24-39.2,34.868C20.807,40.433,28.115,40.647,28.027,34.868z"></path>
                                </svg>
                            </a>
                            <a asp-controller="favorites" asp-action="addFavorite" asp-route-userId="1" asp-route-productId="@product.Id" class="btn btn-outline-addFavorite mt-1" role="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"><path fill="currentColor" d="M7 5a4 4 0 0 0-4 4c0 3.552 2.218 6.296 4.621 8.22A21.5 21.5 0 0 0 12 19.91a21.6 21.6 0 0 0 4.377-2.69C18.78 15.294 21 12.551 21 9a4 4 0 0 0-4-4c-1.957 0-3.652 1.396-4.02 3.2a1 1 0 0 1-1.96 0C10.652 6.396 8.957 5 7 5m5 17c-.316-.02-.56-.147-.848-.278a23.5 23.5 0 0 1-4.781-2.942C3.777 16.705 1 13.449 1 9a6 6 0 0 1 6-6 6.18 6.18 0 0 1 5 2.568A6.18 6.18 0 0 1 17 3a6 6 0 0 1 6 6c0 4.448-2.78 7.705-5.375 9.78a23.6 23.6 0 0 1-4.78 2.942c-.543.249-.732.278-.845.278"></path></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if(Model.PageNumber > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="@Model.NumOfProdPerPage" asp-route-pageNumber="@(Model.PageNumber-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= Model.AmountOfPages; ++i)
            {
                @if(i != Model.PageNumber)
                {
                    <li class="page-item"><a class="page-link" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="@Model.NumOfProdPerPage" asp-route-pageNumber="@i">@i</a></li> 
                }
                else
                {
                    <li class="page-item active"><a class="page-link" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="@Model.NumOfProdPerPage" asp-route-pageNumber="@i">@i</a></li>
                }
            }
            @if(Model.PageNumber < Model.AmountOfPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="@Model.NumOfProdPerPage" asp-route-pageNumber="@(Model.PageNumber+1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
else
{
    <h2>Упс..., что-то пошло не так</h2>
}




