@using OnlineShopWebApp.Models.ContainersForView
@model OrderFormViewModel

@if(Model != null)
{
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card mb-3">
                <img src="~/images/products/order_step.jpg" width="30%" class="card-img-top" alt="Фото заказа">
                <div class="card-body">
                    <h3 class="card-title text-center">Адрес и оплата</h3>
                    <form method="post">
                        @if (Model?.Addresses?.Any() ?? false)
                        {
                            <label for="inputAddress" class="form-label">Адрес доставки</label>
                            <select name="addressId" class="form-select mb-3" aria-label="Default select example">
                                <option value="@Model.LastAddress.Id" selected>@Model.LastAddress.ToString()</option>
                                @foreach(var address in Model.Addresses)
                                {
                                    if(Model.LastAddress.Id != address.Id)
                                    {
                                        <option value="@address.Id">@address.ToString()</option>
                                    }
                                }
                            </select>
                        }
                        else
                        {
                            <div class="pt-2">
                                <p>Нет доступных адресов</p>
                            </div>
                        }
                        <div class="row">
                            <div class="col-8">
                                
                            </div>
                            <div class="col-4">
                                <a asp-controller="profile" asp-action="index" class="btn btn-outline-success"> Добавить адрес </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3 col-12">
                                <label for="inputMessage" class="form-label">Сообщение курьеру</label>
                                <textarea name="commentsToCourier" class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        @if (Model?.Addresses?.Any() ?? false)
                        {
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <button asp-controller="orders" asp-action="createOrder" asp-route-userId="@CommonData.currentUserId" type="submit" class="btn btn-outline-cartChangeAmount">
                                        Оформить заказ
                                    </button>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>Упс..., что-то пошло не так</h2>
}