@using OnlineShopWebApp.Models.Orders
@model Order

@if(Model != null)
{
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="card mb-3" style="max-width: 15000px;">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/images/delivery.gif"  class="img-fluid rounded-start" alt="Анимация приготовления заказа">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h3 class="card-title">Номер вашего заказа <b>#@Model.Id</b></h3>
                            <p class="card-text">Курьер <b>Алексей(8-905-777-32-42)</b> прибудет в течении часа</p>
                            <br>
                            <h4>Ваш заказ:</h4>
                            <div class="overflow-auto" style="height : 160px">
                                <div class="row m-0">
                                    <div class="col-4">
                                        <b>Название</b>
                                    </div>
                                    <div class="col-3">
                                        <b>Кол-во</b>
                                    </div>
                                    <div class="col-3">
                                        <b>Стоимость</b>
                                    </div>
                                </div>
                                <hr>
                                @foreach(var item in Model.Cart.Items)
                                {
                                    <div class="row">
                                        <div class="col-4">
                                            @item.Product.Name
                                        </div>
                                        <div class="col-3">
                                            x @item.Amount
                                        </div>
                                        <div class="col-3">
                                            @item.Cost руб.
                                        </div>
                                    </div>
                                }
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">

                                </div>
                                <div class="col-6">
                                    <p class="align-content-lg-end">Стоимость заказа : <b>@Model.Cart.Cost руб.</b></p>
                                    <p class="align-content-lg-end">Время офрмления @Model.TimeOfOrder.Hour:@Model.TimeOfOrder.Minute</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}