@using OnlineShopWebApp.Models.Products
@model List<ProductViewModel> 

@if(Model.Any())
{
    <div class="row justify-content-start">
        @foreach(var product in Model)
        {
            <div class="col-2 card shadow m-3">
                <a asp-controller="product" asp-action="index" asp-route-productId="@product.Id">
                    <img class="card-img-top" height="125" src="@product.ImagePath">
                </a>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8 align-content-lg-start pt-2">
                            <p><b>@product.Name</b><br>@product.Cost руб.</p>
                        </div>
                        <div class="col-1 justify-content-lg-end">
                            <a asp-controller="carts" asp-action="addProduct" asp-route-userId="@CommonData.CurrentUserId" asp-route-productId="@product.Id" class="btn btn-outline-cartChangeAmount" role="button">
                                @await Html.PartialAsync("AddToCartIcon")
                            </a>
                            <a asp-controller="favorites" asp-action="addFavorite" asp-route-userId="@CommonData.CurrentUserId" asp-route-productId="@product.Id" class="btn btn-outline-addFavorite mt-1" role="button">
                                @await Html.PartialAsync("AddToFavoriteIcon")
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>Товары по вашему запросу не найдены</h2>
}

