@using OnlineShopWebApp.Models.Products
@model ProductViewModel
<div class="row justify-content-center">
    <div class="col-5">
        <div class="card mb-3">
            <img src="@Model.ImagePath" width="200" class="card-img-top" alt="Фото товара">
            <div class="card-body">
                <h3 class="card-title text-center">Редактирование товара</h3>
                <form method="post">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="inputName" class="form-label">Название</label>
                            <input type="text" name="Name" value="@Model.Name" class="form-control" id="inputName" aria-describedby="nameHelp">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="inputCost" class="form-label">Цена</label>
                            <input type="number" name="Cost" value="@Model.Cost" class="form-control" id="inputCost" aria-describedby="costHelp">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="" class="form-label">Описание</label>
                            <textarea name="Description" class="form-control" aria-label="With textarea">@Model.Description</textarea>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-outline-success" type="submit" asp-controller="administration" asp-action="editProduct" asp-route-id="@Model.Id">
                                Сохранить изменения
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>