@using OnlineShopWebApp.Models.Orders
@model List<Order>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true">Заказы</a>
            </li>
            <li class="nav-item">
                <a asp-controller="administration" asp-action="products" class="nav-link">Товары</a>
            </li>
            <li class="nav-item">
                <a asp-controller="administration" asp-action="users" class="nav-link">Пользователи</a>
            </li>
            <li class="nav-item">
                <a asp-controller="administration" asp-action="roles" class="nav-link">Роли</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Пользователь(логин)</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col">Подробнее...</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td scope="row">@order.Id</td>
                            <td>@order.Cart.Cost руб.</td>
                            <td>@EnumHelper.GetDisplayName(order.StateOfOrder)</td>
                            <td>@order.User.Login</td>
                            <td>@order.TimeOfOrder.ToString("d")</td>
                            <td>@order.TimeOfOrder.ToString("t")</td>
                            <td>
                                <a class="btn btn-outline-info" asp-controller="administration" asp-action="showOrderInfo" asp-route-orderId="@order.Id">Подробнее</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>