@using OnlineShopWebApp.Models.Helpers
@using OnlineShopWebApp.Models.Orders
@model List<OrderViewModel>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true">Заказы</a>
            </li>
            <li class="nav-item">
                <a asp-area="admin" asp-controller="products" asp-action="index" class="nav-link">Товары</a>
            </li>
            <li class="nav-item">
                <a asp-area="admin" asp-controller="users" asp-action="index" class="nav-link">Пользователи</a>
            </li>
            <li class="nav-item">
                <a asp-area="admin" asp-controller="roles" asp-action="index" class="nav-link">Роли</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Сумма</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Пользователь(логин)</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Время</th>
                        <th scope="col">Подробнее...</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td scope="row">@order.Id</td>
                            <td>@order.Cart.Cost руб.</td>
                            <td>@EnumHelper.GetDisplayName(order.StateOfOrder)</td>
                            <td>@order.User.Login</td>
                            <td>@order.TimeOfOrder.ToString("d")</td>
                            <td>@order.TimeOfOrder.ToString("t")</td>
                            <td>
                                <a asp-area="admin" asp-controller="orders" asp-action="showInfo" asp-route-orderId="@order.Id" class="btn btn-outline-info">Подробнее</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>