@using OnlineShopWebApp.Models.Products
@model EditProductViewModel
<div class="row justify-content-center">
    <div class="col-5">
        <div class="card mb-3">
            @if (Model.ImagesPaths?.Count() < 2)
            {
                <img width="200" class="card-img-top" src="@Model.ImagePath" alt="Изображение товара" />
            }
            else
            {
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@Model.ImagesPaths.FirstOrDefault()" width="200" class="card-img-top" alt="Изображение товара">
                        </div>
                        @for (int i = 1; i < Model.ImagesPaths.Count(); ++i)
                        {
                            <div class="carousel-item">
                                <img src="@Model.ImagesPaths[i]" width="200" class="card-img-top" alt="Изображение товара">
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            }
            <div class="card-body">
                <h3 class="card-title text-center">Редактирование товара</h3>
                <form method="post" enctype="multipart/form-data">
                    <input asp-for="Id" value="@Model.Id" hidden></input>
                    <input asp-for="ImagePath" value="@Model.ImagePath" hidden></input>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label asp-for="Name" class="form-label">Название</label>
                            <input asp-for="Name" value="@Model.Name" class="form-control" id="inputName" aria-describedby="nameHelp">
                            <span asp-validation-for="Name" class="validation-error"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="Cost" class="form-label">Цена</label>
                            <input asp-for="Cost" value="@Model.Cost" class="form-control" id="inputCost" aria-describedby="costHelp">
                            <span asp-validation-for="Cost" class="validation-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label asp-for="Description" class="form-label">Описание</label>
                            <textarea asp-for="Description" class="form-control" aria-label="With textarea">@Model.Description</textarea>
                            <span asp-validation-for="Description" class="validation-error"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label>Добавить изображения</label>
                            <input type="file" name="UploadedFiles" multiple accept="image/*" class="form-control" />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-outline-success" type="submit" asp-area="admin" asp-controller="products" asp-action="edit">
                                Сохранить изменения
                            </button>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="validation-error"></div>
                </form>
            </div>
        </div>
    </div>
</div>