@using OnlineShopWebApp.Models.Products
@model List<ProductViewModel>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a asp-area="admin" asp-controller="orders" asp-action="index" class="nav-link">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true">Товары</a>
            </li>
            <li class="nav-item">
                <a asp-area="admin" asp-controller="users" asp-action="index" class="nav-link">Пользователи</a>
            </li>
            <li class="nav-item">
                <a asp-area="admin" asp-controller="roles" asp-action="index" class="nav-link">Роли</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @if (Model?.Any() ?? false)
        {
            <div class="text-start">
                <a asp-area="admin" asp-controller="products" asp-action="add" class="btn btn-outline-cartChangeAmount">Добавить товар</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Фото</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Описание</th>
                        <th class="text-center" scope="col">Редактировать</th>
                        <th class="text-center" scope="col">Удалить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td scope="row">@product.Id</td>
                            <td>
                                <img width="200" src="@product.ImagePath">
                            </td>
                            <td>
                                <a asp-area="" asp-controller="product" asp-action="index" asp-route-productId="@product.Id" class="link-color">
                                    @product.Name
                                </a>
                            </td>
                            <td>@product.Cost</td>
                            <td>@product.Description</td>
                            <td class="text-center">
                                <a asp-area="admin" asp-controller="products" asp-action="edit" asp-route-productId="@product.Id">
                                    <img width="25" src="~/images/ui/pencil_icon.png">
                                </a>
                            </td>
                            <td class="text-center">
                                <a data-bs-toggle="modal" data-bs-target="#a-@product.Id">
                                    <img width="25" src="~/images/ui/delete_icon.png">
                                </a>
                            </td>
                        </tr>
                        <div class="modal fade" id="a-@product.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Подтверждение</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        Вы уверены, что хотите удалить этот товар?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                        <a class="btn btn-danger" asp-area="admin" asp-controller="products" asp-action="removeById" asp-route-productId="@product.Id">Удалить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h2>В вашем магазине пока нет товаров</h2>
            <div class="text-center">
                <a asp-area="admin" asp-controller="products" asp-action="add" class="btn btn-outline-cartChangeAmount">Добавить товар</a>
            </div>
        }
    </div>
</div>